<div class='class-container'>
  <img src={{image}} alt={{name}} />
  <div class="class-info-container">
    <h3>{{name}}</h3>
    <p>{{length}} minutes</p>
    <form action='/add-class/{{classId}}' method='post'>
      <button type='submit'>Book Now</button>
    </form>
  </div>
</div>